# Firebase App Distribution
FIREBASE_ANDROID_APP_ID=
FIREBASE_TESTER_GROUPS=internal-testers
FIREBASE_RELEASE_NOTES=Internal test build

# (Optional) Authentication
# FIREBASE_TOKEN=
# GOOGLE_APPLICATION_CREDENTIALS=
